body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

label, input, select {
    display: block;
    margin: 10px 0;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    transition-duration: 0.4s;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    color: white;
}
